```
❯ ls
dp.ipynb                                noisy_means_experiment_results.csv      noisy_sum_experiment_results.parquet
noisy_counts_experiment_results.csv     noisy_means_experiment_results.parquet  noisy_var_experiment_results.csv
noisy_counts_experiment_results.parquet noisy_sum_experiment_results.csv        noisy_var_experiment_results.parquet
```

In [17]:
# import parquet files as dataframes
import pandas as pd
import pyarrow.parquet as pq
import os
import sys
import numpy as np

eps = [0.177101450509287, 0.2509487223501085, 0.3563228120191924, 0.7304317044395013, 1.6426117097961404, 11.51291546492478, 11.51291546492478, 11.51291546492478, 11.51291546492478]

# read in the parquet files
counts = pq.read_table('./dp/noisy_counts_experiment_results.parquet').to_pandas().T.rename(columns={i: eps[i] for i in range(len(eps))})
means = pq.read_table('./dp/noisy_means_experiment_results.parquet').to_pandas().T.rename(columns={i: eps[i] for i in range(len(eps))})
sums = pq.read_table('./dp/noisy_sum_experiment_results.parquet').to_pandas().T.rename(columns={i: eps[i] for i in range(len(eps))})
vars = pq.read_table('./dp/noisy_var_experiment_results.parquet').to_pandas().T.rename(columns={i: eps[i] for i in range(len(eps))})

In [25]:
counts.iloc[3,1]

nan

In [27]:
records = []
for i in range(500):
    for ie, e in enumerate(eps):
        record = {
            'eps': e,
            'count': counts.iloc[i, ie],
            'mean': means.iloc[i, ie],
            'sum': sums.iloc[i, ie],
            'var': vars.iloc[i, ie]
        }
        records.append(record)

In [28]:
df = pd.DataFrame(records, columns=['eps', 'count', 'sum', 'mean', 'var'])

In [29]:
df

            eps      count           sum      mean          var
0      0.177101        NaN           NaN       NaN          NaN
1      0.250949        NaN           NaN       NaN          NaN
2      0.356323        NaN           NaN       NaN          NaN
3      0.730432        NaN           NaN       NaN          NaN
4      1.642612  19.301824   4452.479116  1.163339  1483.669308
...         ...        ...           ...       ...          ...
4495   1.642612  26.136796  24322.602039       NaN -1714.243590
4496  11.512915  24.131188    641.784422  1.573659  1179.823250
4497  11.512915  23.400204  -3766.859117  0.818608  -124.816447
4498  11.512915  24.833437  -1065.143353  0.925909   417.145849
4499  11.512915  25.222867  -6381.706919  0.885408 -1353.003515

[4500 rows x 5 columns]

In [30]:
df.to_parquet('./outputs/dp_results.parquet')